.containerPro {
    box-sizing: border-box;
    height: 35rem;
    padding: 2rem 1rem;
    background-color: var(--gray-800);
    border-radius: 8px;
    margin-bottom: 2rem; 
}

.containerPro h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    padding: 1rem 0.5rem;
    color: var(--blue-300);

    position: relative;
}

.containerPro svg {
    position: absolute;
    top: 25%;
    left: 40%;
}

.slider {
    max-width: 650px;
    height: 24rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

@media (max-width: 700px) {
    .slider {
        width: 320px;
    }

    .containerPro {
        width: 450px;
    }
    
}

@media (max-width: 600px){
    .containerPro {
        width: 390px;
    }

    .slider{
        width: 300;
    }
}
