.sideContainer {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden; /* O conteudo que sai do conteiner, fica escondido */
  margin-bottom: 2rem;
}

.sideContainer > img {
  width: 100%;
  height: 79px;
  object-fit: cover;

  border-bottom: 2px solid var(--blue-200);
}

.sideProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 6px);
  padding: 1rem 0;
}

.sideProfile p {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.sideProfile span {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 8px;

  border: 2px solid var(--blue-200);
}

.sideContainer .footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sideContainer .footer a {
  background: transparent;
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-weight: 900;
  line-height: 1.6;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  transition: color 0.1s, background-color 0.1s;
}

.footer .curriculo {
  color: var(--blue-200);
  border: 1px solid var(--blue-200);
}

.footer .pitch {
  margin-top: 1rem;
  color: var(--purple-200);
  border: 1px solid var(--purple-200);
}

.sideContainer .footer .curriculo:hover {
  background: var(--blue-dark);
  color: var(--white);
}

.sideContainer .footer .pitch:hover {
  background: var(--purple-dark);
  color: var(--white);
}

@media (max-width: 996px) {
  .sideContainer {
    width: 370px;
    margin: 1.5rem auto;
  }
}
