:root {
    --white:#fff;
    --gray-300:#c4c4cc;
    --gray-400:#90909be3;
    --gray-600:#323238;
    --gray-700:#29292e;
    --gray-800:#202024;
    --gray-900:#121214;
    
    --purple-200:#8284FA;
    --purple-dark:#5E60CE;
    --blue-200:#0089BA;
    --blue-300: #4EA8DE;
    --blue-dark: #1E6F9F;
    --danger-200: #E25858;
    
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:var(--gray-900);
    color:var(--gray-300);

    -webkit-font-smoothing: antialiased; /*Para o browse deixar a font das letras mais fininhas (que não são padrao do sistema)*/
}

body, input, button, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem; /*rem melhor para acessibilidade, a cada 1rem é 16px*/
}

/*===COR NO SCROLL ====*/
::-webkit-scrollbar{
    background:var(--gray-300); 
    width: .7rem; 
}

::-webkit-scrollbar-thumb {
   background: rgb(15, 15, 15); 
   border-radius: .7rem;
 }
