@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body {
  background-color: #121214;
  color: #fff;
  text-align: center;
}

a, button {
  cursor: pointer;
}